.cxbc-single-post-content {
	height: 100%;
}
.cxbc-list {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 20px;
}
.cxbc-list .cxbc-item {}
.cxbc-list .cxbc-item .cxbc-item-thumbnail {
	max-width: 100%;
	height: auto;
}
.cxbc-list .cxbc-item .cxbc-item-title {
	font-size: 1rem;
	text-decoration: none;
}
.cxbc-list .cxbc-item .cxbc-item-excerpt {}
.cxbc-single-item {
	padding: 30px 0;
}
.cxbc-single-item .cxbc-item-title {
	padding: 15px 0;
	font-size: 22px;
}
.cxbc-single-item .cxbc-item-thumbnail {
	max-width: 100%;
}
.bizink-page .entry-title,
.cxbc-single-item-heading {
	/*width: 100%;*/
	/*background: #c5cde5;*/
	text-align: center;
	/*color: #000;*/
	padding: 60px;
	/*font-size: 40px;*/
}
.cxbc-topics-list {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-start;
    align-content: stretch;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
	 position: relative;
}
.cxbc-topics-list a {
	flex-grow: 1;
}
.cxbc-single-topic .cxbc-item-thumbnail {
	height: 110px;
	width: auto;
	border-radius: 4px;
	max-width: 100%;
	margin-bottom: 10px;
	display: none;
}
.cxbc-topic-title {
    position: relative;
    font-size: 24px;
    color: #000;
    padding-left: 45px;
    line-height: 28px;
}
.cxbc-topic-title:hover {
	color: #0855fe;
}
.cxbc-topic-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 11px solid #0855fe;
}
/*grid*/
.cxbc-posts-list-top {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 15px;
	grid-template-areas: "sidbar header-top" "sidbar header-buttom";
	margin-bottom: 15px;
}
.cxbc-posts-list-bottom {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	margin-bottom: 15px;
}
.cxbc-posts-list-mid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	margin-bottom: 15px;
}
.cxbc-posts-list-mid .cxbc-item-thumbnail {
	height: 310px;
	object-fit: cover;
}
/*.cxbc-posts-list-mid .cxbc-single-post-count-4 .cxbc-item-thumbnail {
	width: 100px;
	height: 100px;
	border-radius: 50% !important;
}*/
.cxbc-learn-more-btn {
	background-color: #14428c;
	padding: 4px 15px;
	color: #fff;
	border-radius: 4px;
}
.cxbc-learn-more-btn:hover {
	background-color: #0274be;
	color: #fff; 
}
/*.cxbc-posts-list-mid .cxbc-single-post-count-4 .cxbc-single-post-content {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}*/
/*.cxbc-posts-list-mid .cxbc-single-post-count-4 .cxbc-single-post-content a {
	width: 100%;
}
.cxbc-posts-list-mid .cxbc-single-post-count-4 .cxbc-single-post-content a.cxbc-learn-more-btn {
	width: 120px;
}
.cxbc-posts-list-mid .cxbc-single-post-count-4 .cxbc-post-title {
}
.cxbc-posts-list-mid .cxbc-single-post-count-4 .cxbc-post-title h4 {
}
.cxbc-posts-list-mid .cxbc-single-post-count-4 .cxbc-post-title h4 span {
}
.cxbc-posts-list-mid .cxbc-single-post-count-4 .cxbc-post-title h4 span img {
}*/
.cxbc-item-thumbnail {
	width: 100%;
	border-radius: 0 !important;
	box-shadow: none !important;
}
.cxbc-post-title .cxbc-next-icon {
	width: 40px;
}
.cxbc-single-post.cxbc-single-post-count-1 .cxbc-item-thumbnail {
	height: 610px;
	object-fit: cover;
}
.cxbc-single-item .cxbc-item-thumbnail {
	height: auto;
	width: auto;
}
/*.cxbc-single-post-content {
	box-shadow: 0px 3px 15px #ddd;
	background-color: #fff;
}*/
.cxbc-post-title {
	position: relative;
}
.cxbc-post-title span {
	position: absolute;
	background: #14428c;
	right: 0;
	height: 100%;
	top: 0;
	right: ;
	bottom: 0;
	color: #fff;
	display: grid;
	align-items: center;
}
.cxbc-all-post-btn {
	text-align: center;
	margin-top: 20px;
}
.cxbc-all-post-btn a {
	background-color: #14428c;
	color: #fff;
	padding: 8px 20px;
	border-radius: 4px;
}
.cxbc-single-post.cxbc-single-post-count-1 {
	grid-area: sidbar;
};
.cxbc-single-post.cxbc-single-post-count-2 {
	grid-area: header-top;
};
.cxbc-single-post.cxbc-single-post-count-3 {
	grid-area: header-buttom;
};
/*grid*/

.cxbc-single-post-content {
	border: 1px solid #ccc;
	padding: 15px;
	margin: 15px 0;
}
.cxbc-single-type-post-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
	padding-top: 10px;
}
.cxbc-single-type-post-content {
}
.cxbc-single-type-post-list .cxbc-single-post {
	/*box-shadow: 0px 3px 15px #ddd;*/
}
.cxbc-single-type-post-content .cxbc-type-title {
/* 	font-size: 22px;
	text-transform: capitalize;
	color: #222;
	font-weight: 700;
	display: block;
    text-align: center;
    margin-bottom: 10px; */
	    font-size: 30px;
    text-transform: capitalize;
    color: #222;
    font-weight: 400;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
}
.cxbc-single-type-post-content {
	margin-bottom: 20px;
}
.cxbc-type-panel {
	padding: 50px 0;
}
.cxbc-type-panel h4 {
	padding-bottom: 15px;
}
.cxbc-type-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
}
.cxbc-single-post {
	/*line-height: 0;*/
}
.cxbc-single-post a {
	text-decoration: none;
}
.cxbc-post-title h4 {
    margin: 0 !important;
    font-size: 24px !important;
}
.cxbc-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.cxbc-post-title {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#bizink-iframe {
/*    position: absolute;
    top: 0;
    left: 0;*/
    width: 100%;
    /*height: 100%;*/
}
.cxbc-content-area.content-area {
	width: 100% !important;
}

/*pagination*/
.cxbc-pagination {
	text-align: center;
}
.cxbc-pagination .page-numbers {
	border: 1px solid #ddd;
	padding: 6px 12px;
	border-radius: 4px;
	text-decoration: none;
}
.cxbc-pagination .page-numbers.current {}
.cxbc-pagination .next.page-numbers {}

.topic-dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: -9px;
}
.cxbc-topics-list select {
    background-color: #fff;
    border-radius: 50px;
    padding: 16px 30px 18px;
    font-size: 20px;
    border: none;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 15px;
    color: #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: window;
    background-image: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
    background-repeat: no-repeat;
    background-position: 95% center;
	width: 100%;
    max-width: 470px;
	line-height: 26px;
}
.cxbc-topics-list select:focus {
	outline:0;
}
.view-resource {
    text-align: center;
    margin-top: 30px;
}
.view-resource a {
    color: #fff;
    background-color: #14428c;
    padding: 15px 25px;
    border-radius: 5px;
    display: inline-block;
}
.view-resource a:hover {
	background-color: #000;
}
.topic-title h2 {
    margin-bottom: 40px;
}
.topic-title {
    text-align: center;
}
.cxbc-topics-heading {
    text-align: center;
}
.cxbc-topics-heading h2 {
	margin-bottom: 40px;
	padding-top: 20px;
}
.learn-more {
    border: 1px solid;
    display: inline-block;
    padding: 5px 18px;
    margin-bottom: 15px;
	border-radius: 5px;
}
.learn-more:hover {
    background-color: #14428c;
    color: #fff;
}

/*responsive*/

@media screen and (min-width: 768px) and (max-width: 992px) {
	.cxbc-list {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.cxbc-topics-heading h2 {
		padding-top: 65px;
	}
}

@media screen and (max-width: 768px){
	.cxbc-list {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
	.cxbc-topics-list,
	.cxbc-posts-list-top,
	.cxbc-posts-list-mid,
	.cxbc-posts-list-bottom {
		display: block;
	}
	.cxbc-single-post.cxbc-single-post-count-1 .cxbc-item-thumbnail {
		height: auto;
	}
	.cxbc-single-topic {
		margin-bottom: 20px;
	}
	.cxbc-single-post-content {
		margin-bottom: 20px;
	}
	.cxbc-single-type-post-list {
		display: block;
	}
	.cxbc-topics-heading h2 {
		padding-top: 65px;
	}
	.cxbc-topics-list select {
		font-size: 1rem;
	}
}

#demo-top-bar {
	text-align: left;
	background: #222;
	position: relative;
	zoom: 1;
	width: 100% !important;
	z-index: 6000;
	padding: 20px 0 20px;
}
#demo-bar-inside {
	width: 960px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
#demo-bar-buttons {
	padding-top: 10px;
	float: right;
}
#demo-bar-buttons a {
	font-size: 12px;
	margin-left: 20px;
	color: white;
	margin: 2px 0;
	text-decoration: none;
	font: 14px "Lucida Grande", Sans-Serif !important;
}
#demo-bar-buttons a:hover,
#demo-bar-buttons a:focus {
	text-decoration: underline;
}
#demo-bar-badge {
	display: inline-block;
	width: 302px;
	padding: 0 !important;
	margin: 0 !important;
	background-color: transparent !important;
}
#demo-bar-badge a {
	display: block;
	width: 100%;
	height: 38px;
	border-radius: 0;
	bottom: auto;
	margin: 0;
	background: url(/images/examples-logo.png) no-repeat;
	background-size: 100%;
	overflow: hidden;
	text-indent: -9999px;
}
#demo-bar-badge:before, #demo-bar-badge:after {
	display: none !important;
}
.topic-all-main-wrap .cxbc-post-title {
	height: 72px;
}